extends layout

block content
  h1 Add Event
  form(action='/events', method='post')
    label(for='name') Name:
    input(type='text', name='name', id='name', required)
    br
    label(for='location') Location:
    input(type='text', name='location', id='location', required)
    br
    label(for='datetime') Date/Time:
    input(type='datetime-local', name='datetime', id='datetime', required)
    br
    label(for='description') Description:
    textarea(name='description', id='description', required)
    br
    button(type='submit') Submit