doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
    body
        header.section  
            h1.logo 
                a(href="/") Event registration 

            nav.nav 
                a(href="/create") Create 
                a(href="/list") Events 
        p This web application was created in the purpose of covering the coursework's requirements
    block content 