extends indicate.pug 

block content

    if created 
        p event created  

    .info.flex  
        .list 
            if event 
                each events in event
                    a(href=events.id) #{events.Name}
            a(href = "#") Wedding Ceremony 
            a(href = "#") Birthday party 
            a(href = "#") Anniversary
    